.container1 {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
}
.product-grid {
    display: flex;
    overflow-x: scroll;
    overflow-y: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product-card {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    width: 300px;
    height: 250px;
}

.product-card img {
    max-width: 100px;
    height: 110px;
    margin-bottom: 10px;
}

.product-card p {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}
.button-container {
    padding-top: 10px;
    display: flex;
    justify-content: flex-end; 
}
.button-container button{
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rating {
    font-size: 14px;
    color: #777;
}

.price {
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

.sale {
    color: #e67e22;
}

.old-price {
    text-decoration: line-through;
    font-size: 14px;
    color: #bbb;
    margin-left: 5px;
}

.add-to-cart {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s; /* Плавная анимация для значка */
}

.add-to-cart:hover img {
    transform: scale(1.2); /* Увеличение значка при наведении */
}
.add-to-cart img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s; /* Плавная анимация для значка */
}
  
  .favourite-button.active {
    background-color: red;
    color: white;
  }
  
  .cart-button {
    padding: 8px 8px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .cart-button.active {
    background-color: #4CAF50;
    color: white;
    border-color: #4CAF50;
  }
  
  .cart-button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
  
  .favourite-button {
    padding: 8px 16px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .favourite-button.active {
    background-color: #ff4081;
    color: white;
    border-color: #ff4081;
  }
  
  .favourite-button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
  
  .button-container {
    display: flex;
    gap: 8px;
    margin-top: 8px;
  }